.content{
	margin-top: 70px;
}

video{
	width: 100%;
}

.list-box{
	li{
		background: #f5f5f5;
		padding: 15px;
		margin-bottom: 10px;
		border: #e3e3e3 solid 1px;
	}
}

.clear{
	clear: both;
}

.workroom{
	.actions{
		margin-bottom: 10px;
	}
	.video_rtc{
		width: 100% !important;
	}

	.chat{
	

		.chat-list{
			background: #eee;
			padding: 10px;
			margin-bottom: 20px;
			height: 300px;
			overflow: auto;

			.item{
				margin-bottom: 10px;
			}
		}

		.profile-pic{
			width: 30px;
		} 

		.message{

			.message-cnt{
				background: #fff; 
				border: #eee solid 1px;
				padding: 5px;
				font-size: 12px;
				line-height: 16px;
			}
		}
		
	}

	#video-receive{
		height: 465px;
		width: 100%;
		background: #eee;

		video{
			height: 465px;
		}
	}

	#video-send video{
		height: 100px;
		width: 131px;
		background: #eee - 50;
		float: right;
		margin-top: -110px;
		margin-right: 10px;
	}
}

.new-notification{
	background: (#005580 + 100) !important;
}

.chat-output-panel{
	.chats{
		li{
			.body{
				word-wrap: break-word;
			}
		}
	}
}

.timer{
	font-size: 42px;
	font-weight: 200;
	line-height: 50px;
	margin-bottom: 20px;
}

.timer-log{
	.number{
		padding-top: 25px;
		text-align: right;
		font-size: 34px;
		letter-spacing: -1px;
		font-weight: 300;
		color: #fff;
		margin-bottom: 10px;
	}

	.desc{
		text-align: left;
		font-size: 16px;
		letter-spacing: 0px;
		font-weight: 300;
		color: #fff;
	}
}

.localVideo{
	z-index: 99;
	position: absolute;

	video{
		width: 120px;
		margin: 10px;
	}
}

.remotesVideos{
	height: 350px;
	background: #eee;
	text-align: center;
}

.videos{
	margin-top: 20px;
}

.videos-container{
	margin-top: 20px;
	min-height: 120px;


	video:nth-child(2){
		position: absolute;
		width: 120px;
		margin: 10px;
		right: 0;
		margin-right: 365px;
	}
}

.top_nav{
	.profile_pic{
		height: 29px;
		width: 29px;
	}
}

.img-avatar{

	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

.online-avatar{
	height: 60px;
	width: 60px;
	.img-avatar;
}